files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDATCCAekCFE3KeX15CFDBwBOZPW/0lq11Pk4YMA0GCSqGSIb3DQEBCwUAMD0x
      CzAJBgNVBAYTAlVTMQswCQYDVQQIDAJXSTEhMB8GA1UECgwYSW50ZXJuZXQgV2lk
      Z2l0cyBQdHkgTHRkMB4XDTI0MDQwMjE3MDMwMVoXDTI1MDQwMjE3MDMwMVowPTEL
      MAkGA1UEBhMCVVMxCzAJBgNVBAgMAldJMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRn
      aXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDvc40r
      NopPw46NYkYlkSRXllguu8R2XFHSfKUZiv9/SOlibgOyqRXuEVYcAKMmuqIq1pz9
      2Sz7uq3dNXki5+jrdoCPKsjv8zl9tgit/k5DivakUn+6ml9E3+V09vW0pqgscIOn
      mxuRZYkeEj6h2OauOcYfMc0+ZkizX9rBEDTcvzgJeeFbPlypvc6zFXYS2NEMrWrg
      tyGSkP1nnCTGPodlOl+z6MAroDnBr1gSjDYgdStomjG+3TWeezH010UdAzQBGKl8
      7slMCiZFIj2KLtjVfgTISscJQxT9UIxvvfbiEYlpbd5LGxil6A1gCqe+/lEazaBz
      4yHkW0MZ5D1IL7mDAgMBAAEwDQYJKoZIhvcNAQELBQADggEBANsA8Pm4u9Ks7XlL
      Emde6Xbj83aTiSqAMwhGuwrXE2EzKjWgje7y81PDeB98t+HpuzO2PPnO5+AICRo8
      XgDGss51UOpAAmqOIaMqn3igRgBYFGHNPDGQyvtvnq/sqgJOsbcigWbyFEUt+1P7
      aUQgjt79OgG8YAiEP8GwhAK5WWe9l1G9ba2KGMyJH1u//1uuvtft/VF1CYF6B08D
      39ikBItDg455qMkicqD8arOKWCO2H4q6TcW2cq1Wdenn7Y2flm1HDahZNOkBF2ED
      3f9I/4+V9UcNA2V2IQERhchC8C3TXRI1LdgLzD3oJ7VTXTDDD2bjTrb9pSvFx+Bz
      NO+OxMA=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDvc40rNopPw46N
      YkYlkSRXllguu8R2XFHSfKUZiv9/SOlibgOyqRXuEVYcAKMmuqIq1pz92Sz7uq3d
      NXki5+jrdoCPKsjv8zl9tgit/k5DivakUn+6ml9E3+V09vW0pqgscIOnmxuRZYke
      Ej6h2OauOcYfMc0+ZkizX9rBEDTcvzgJeeFbPlypvc6zFXYS2NEMrWrgtyGSkP1n
      nCTGPodlOl+z6MAroDnBr1gSjDYgdStomjG+3TWeezH010UdAzQBGKl87slMCiZF
      Ij2KLtjVfgTISscJQxT9UIxvvfbiEYlpbd5LGxil6A1gCqe+/lEazaBz4yHkW0MZ
      5D1IL7mDAgMBAAECggEAEyjv1tFaZ9+B/JYsfr0KZ2fETpj/s2jXszv+CfkxUIIJ
      CrM64ITfGFmSxlLWuzab20mo7jb+fnYFi3nH458i6BRnXQ1TXr/bjc+PCj0bDhSE
      f8mKJuhLTzuLJLzOFFJxinzGTBcBMbUqL5nOIS016CL/U2eswJ12m8PDwUcGs9MB
      jCfs3SjPtRYlUDY7hZ0Sc/k36F0TFL6dMxfo7Y8kyTV+vqkm+JdWhM+zRULBr0Cv
      wv/uFTHVaI2i/w0LeZMPxClqSVr9S12Sb8NO8M9Z7oN9HgQhveEVJEMiIQoGmKEs
      sD8KUnW1Rb5B7AyBfb9yM5xZOAituTaKMCvLfu9K4QKBgQD7saPu2sGOe0aVW+Kp
      eFA5POuum+VMnawhiqlZv4Ma153+R+IcLk+Ezns9g0xvx+Pz3yByDuwaeHhlj6S8
      haXb37GMHbgAgkdN6FaHlkfvkN3BGoTrXO1oKDYMbhLFfumg4nGue0ey1z1eyalZ
      sJ7TJhg+UivW+dKy7BV7rOHznQKBgQDzjEqrXtG0tCK/9l3FlNd6qkfkatl5eyhT
      3wrPciCns/fFAKHNG0Y0plqRbrw2uU5JhGnhBg9w83t/bM+abaXrZw6JnKl5ZKqL
      KlSoqyY9iLTJK6lcQiotc0Jp7rhLOoz+hgWhMN+2ex0gg1H/pH2Q8XWvPrf86SdY
      +vC/6UannwKBgAQ6dsOTfz7yiTwHICays75SbK8xRUflOjgSCUhNtFkmGCxmbsEE
      cieMBHwDEayrEgRN0lC4OXU0Yulp4V2dbSzldCkjcqzng2UmqxV6C9lVeLQ+ys7d
      b8uZKVdKHhydRjWCuGAzCABUJ17JSoQMOI7Zi/y4Cq6A4e5Jkw7R17XtAoGAdXFa
      dIcV0vDmrPDtySB8RD+myWQpGOalzMQKn3xmeNhVC5/BZnnXgf4SQH1Ir47uTI9Y
      y1UzzwDqtcjP16U2VGzu2rc8FjjP8KnqByf5GcU5gKTYV4/kbORey1x9bHGAmiAg
      yNkbmBCIPCx3NzKoBmQZnvc8m+4GtmbT/4dLNfsCgYEAy8qkprfiNGhjTk54m062
      g33brzWZIrG4EuOsAgla1VukBnlF69Ck+Dr2OvgX4ypWiGNB3Y1vtapfak/hwbr5
      3PvhF85DWbx/mPBfubCSbPW7sTR3u/tLRDTMGhb+JRHexyobM/yIX4SH1EjSjW+l
      9ufrFDmkKMO56/bzjnbjhTk=
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart